# виртуалки
.venv/
venv/

# системные файлы
.env
.local
.idea

# папка output (генерация)
output/

# большие модели — ИГНОРИРУЕМ
models/Qwen/Qwen-Image-Edit-2509/
models/Qwen/Qwen-Image/

# разрешаем ЛОРУ (НЕ игнорировать!)
!models/Qwen/alenexlora/
